**Nº 1 / Make a function named get_titanic_data that returns the titanic data from the Codeup Data Science database as a pandas data frame.**

In [5]:
import os

import pandas as pd

from pydataset import data

import env

In [6]:
def get_titanic_data(bateau):
    
    if os.path.isfile('titanic.csv'):
        
        return pd.read_csv('titanic.csv')
    
    else:
        
        url = bateau('titanic_db')
        
        query = '''
        SELECT * 
        FROM passengers
        '''
        
        titania_df = pd.read_sql(query, url)
        
        df.to_csv('titanic.csv')
        
    return titania_df

In [7]:
titania_df = get_titanic_data(env.sql_connexion)

titania_df.head()

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

**Nº 2 / Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids.**

In [13]:
def get_iris_data():
    
    if os.path.isfile('iris.csv'):
        
        return pd.read_csv('iris.csv')
    
    else:
        
        url = fleur('iris_db')
    
        query = '''
        SELECT *
        FROM species
        JOIN measurements USING(species_id);
        '''
        iris_df = pd.read_sql(query, url)
        
        iris_df.to_csv('iris_db.csv')
        
    return iris_df

In [10]:
get_iris_data(env.sql_connexion).head()

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2

In [4]:
pd.read_csv('iris_db.csv').head()

,Unnamed: 0,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,1,setosa,2,4.9,3.0,1.4,0.2
2,2,1,setosa,3,4.7,3.2,1.3,0.2
3,3,1,setosa,4,4.6,3.1,1.5,0.2
4,4,1,setosa,5,5.0,3.6,1.4,0.2

**Nº 3 / Make a function named get_telco_data that returns the data from the telco_churn database in SQL.**  
In your SQL, be sure to join contract_types, internet_service_types, payment_types tables with the customers table, so that the resulting dataframe contains all the contract, payment, and internet service options.

In [12]:
def get_telco_data(teld):
    
    if os.path.isfile('file.csv'):
        
        return pd.read_csv('file.csv')
    
    else:
        
        url = teld('telco_churn')
    
        query = '''
        SELECT * 
        FROM customers
        JOIN contract_types 
            USING (contract_type_id)
        JOIN internet_service_types
            USING (internet_service_type_id)
        JOIN payment_types
            USING (payment_type_id)
                '''
        telco_df = pd.read_sql(query, url)
        
        telco_df.to_csv('telco_churn.csv')
        
    return telco_df

In [13]:
get_telco_data(env.sql_connexion).head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [21]:
import acquire

In [22]:
## the '(env.sql_connexion)' is required for the function to connect to the database 
# (unless I create a get_new_iris function that contains other )

# assign this 'acquire.get_iris_data(env.sql_connexion)' to a variable to facilitate usage.

acquire.get_iris_data(env.sql_connexion)

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2
5,1,setosa,6,5.4,3.9,1.7,0.4
6,1,setosa,7,4.6,3.4,1.4,0.3
7,1,setosa,8,5.0,3.4,1.5,0.2
8,1,setosa,9,4.4,2.9,1.4,0.2
9,1,setosa,10,4.9,3.1,1.5,0.1
10,1,setosa,11,5.4,3.7,1.5,0.2
11,1,setosa,12,4.8,3.4,1.6,0.2
12,1,setosa,13,4.8,3.0,1.4,0.1
13,1,setosa,14,4.3,3.0,1.1,0.1
14,1,setosa,15,5.8,4.0,1.2,0.2
15,1,setosa,16,5.7,4.4,1.5,0.4
16,1,setosa,17,5.4,3.9,1.3,0.4
17,1,setosa,18,5.1,3.5,1.4,0.3
18,1,setosa,19,5.7,3.8,1.7,0.3
19,1,setosa,20,5.1,3.8,1.5,0.3
20,1,setosa,21,5.4,3.4,1.7,0.2
21,1,setosa,22,5.1,3.7,1.5,0.4
22,1,setosa,23,4.6,3.6,1.0,0.2
23,1,setosa,24,5.1,3.3,1.7,0.5
24,1,setosa,25,4.8,3.4,1.9,0.2
25,1,setosa,26,5.0,3.0,1.6,0.2
26,1,setosa,27,5.0,3.4,1.6,0.4
27,1,setosa,28,5.2,3.5,1.5,0.2
28,1,setosa,29,5.2,3.4,1.4,0.2
29,1,setosa,30,4.7,3.2,1.6,0.2
30,1,setosa,31,4.8,3.1,1.6,0.2
31,1,setosa,32,5.4,3.4,1.5,0.4
32,1,setosa,33,5.2,4.1,1.5,0.1
33,1,setosa,34,5.5,4.2,1.4,0.2
34,1,setosa,35,4.9,3.1,1.5,0.2
35,1,setosa,36,5.0,3.2,1.2,0.2
36,1,setosa,37,5.5,3.5,1.3,0.2
37,1,setosa,38,4.9,3.6,1.4,0.1
38,1,setosa,39,4.4,3.0,1.3,0.2
39,1,setosa,40,5.1,3.4,1.5,0.2
40,1,setosa,41,5.0,3.5,1.3,0.3
41,1,setosa,42,4.5,2.3,1.3,0.3
42,1,setosa,43,4.4,3.2,1.3,0.2
43,1,setosa,44,5.0,3.5,1.6,0.6
44,1,setosa,45,5.1,3.8,1.9,0.4
45,1,setosa,46,4.8,3.0,1.4,0.3
46,1,setosa,47,5.1,3.8,1.6,0.2
47,1,setosa,48,4.6,3.2,1.4,0.2
48,1,setosa,49,5.3,3.7,1.5,0.2
49,1,setosa,50,5.0,3.3,1.4,0.2
50,2,versicolor,51,7.0,3.2,4.7,1.4
51,2,versicolor,52,6.4,3.2,4.5,1.5
52,2,versicolor,53,6.9,3.1,4.9,1.5
53,2,versicolor,54,5.5,2.3,4.0,1.3
54,2,versicolor,55,6.5,2.8,4.6,1.5
55,2,versicolor,56,5.7,2.8,4.5,1.3
56,2,versicolor,57,6.3,3.3,4.7,1.6
57,2,versicolor,58,4.9,2.4,3.3,1.0
58,2,versicolor,59,6.6,2.9,4.6,1.3
59,2,versicolor,60,5.2,2.7,3.9,1.4
60,2,versicolor,61,5.0,2.0,3.5,1.0
61,2,versicolor,62,5.9,3.0,4.2,1.5
62,2,versicolor,63,6.0,2.2,4.0,1.0
63,2,versicolor,64,6.1,2.9,4.7,1.4
64,2,versicolor,65,5.6,2.9,3.6,1.3
65,2,versicolor,66,6.7,3.1,4.4,1.4
66,2,versicolor,67,5.6,3.0,4.5,1.5
67,2,versicolor,68,5.8,2.7,4.1,1.0
68,2,versicolor,69,6.2,2.2,4.5,1.5
69,2,versicolor,70,5.6,2.5,3.9,1.1
70,2,versicolor,71,5.9,3.2,4.8,1.8
71,2,versicolor,72,6.1,2.8,4.0,1.3
72,2,versicolor,73,6.3,2.5,4.9,1.5
73,2,versicolor,74,6.1,2.8,4.7,1.2
74,2,versicolor,75,6.4,2.9,4.3,1.3
75,2,versicolor,76,6.6,3.0,4.4,1.4
76,2,versicolor,77,6.8,2.8,4.8,1.4
77,2,versicolor,78,6.7,3.0,5.0,1.7
78,2,versicolor,79,6.0,2.9,4.5,1.5
79,2,versicolor,80,5.7,2.6,3.5,1.0
80,2,versicolor,81,5.5,2.4,3.8,1.1
81,2,versicolor,82,5.5,2.4,3.7,1.0
82,2,versicolor,83,5.8,2.7,3.9,1.2
83,2,versicolor,84,6.0,2.7,5.1,1.6
84,2,versicolor,85,5.4,3.0,4.5,1.5
85,2,versicolor,86,6.0,3.4,4.5,1.6
86,2,versicolor,87,6.7,3.1,4.7,1.5
87,2,versicolor,88,6.3,2.3,4.4,1.3
88,2,versicolor,89,5.6,3.0,4.1,1.3
89,2,versicolor,90,5.5,2.5,4.0,1.3
90,2,versicolor,91,5.5,2.6,4.4,1.2
91,2,versicolor,92,6.1,3.0,4.6,1.4
92,2,versicolor,93,5.8,2.6,4.0,1.2
93,2,versicolor,94,5.0,2.3,3.3,1.0
94,2,versicolor,95,5.6,2.7,4.2,1.3
95,2,versicolor,96,5.7,3.0,4.2,1.2
96,2,versicolor,97,5.7,2.9,4.2,1.3
97,2,versicolor,98,6.2,2.9,4.3,1.3
98,2,versicolor,99,5.1,2.5,3.0,1.1
99,2,versicolor,100,5.7,2.8,4.1,1.3
100,3,virginica,101,6.3,3.3,6.0,2.5
101,3,virginica,102,5.8,2.7,5.1,1.9
102,3,virginica,103,7.1,3.0,5.9,2.1
103,3,virginica,104,6.3,2.9,5.6,1.8
104,3,virginica,105,6.5,3.0,5.8,2.2
105,3,virginica,106,7.6,3.0,6.6,2.1
106,3,virginica,107,4.9,2.5,4.5,1.7
107,3,virginica,108,7.3,2.9,6.3,1.8
108,3,virginica,109,6.7,2.5,5.8,1.8
109,3,virginica,110,7.2,3.6,6.1,2.5
110,3,virginica,111,6.5,3.2,5.1,2.0
111,3,virginica,112,6.4,2.7,5.3,1.9
112,3,virginica,113,6.8,3.0,5.5,2.1
113,3,virginica,114,5.7,2.5,5.0,2.0
114,3,virginica,115,5.8,2.8,5.1,2.4
115,3,virginica,116,6.4,3.2,5.3,2.3
116,3,virginica,117,6.5,3.0,5.5,1.8
117,3,virginica,118,7.7,3.8,6.7,2.2
118,3,virginica,119,7.7,2.6,6.9,2.3
119,3,virginica,120,6.0,2.2,5.0,1.5
120,3,virginica,121,6.9,3.2,5.7,2.3
121,3,virginica,122,5.6,2.8,4.9,2.0
122,3,virginica,123,7.7,2.8,6.7,2.0
123,3,virginica,124,6.3,2.7,4.9,1.8
124,3,virginica,125,6.7,3.3,5.7,2.1
125,3,virginica,126,7.2,3.2,6.0,1.8
126,3,virginica,127,6.2,2.8,4.8,1.8
127,3,virginica,128,6.1,3.0,4.9,1.8
128,3,virginica,129,6.4,2.8,5.6,2.1
129,3,virginica,130,7.2,3.0,5.8,1.6
130,3,virginica,131,7.4,2.8,6.1,1.9
131,3,virginica,132,7.9,3.8,6.4,2.0
132,3,virginica,133,6.4,2.8,5.6,2.2
133,3,virginica,134,6.3,2.8,5.1,1.5
134,3,virginica,135,6.1,2.6,5.6,1.4
135,3,virginica,136,7.7,3.0,6.1,2.3
136,3,virginica,137,6.3,3.4,5.6,2.4
137,3,virginica,138,6.4,3.1,5.5,1.8
138,3,virginica,139,6.0,3.0,4.8,1.8
139,3,virginica,140,6.9,3.1,5.4,2.1
140,3,virginica,141,6.7,3.1,5.6,2.4
141,3,virginica,142,6.9,3.1,5.1,2.3
142,3,virginica,143,5.8,2.7,5.1,1.9
143,3,virginica,144,6.8,3.2,5.9,2.3
144,3,virginica,145,6.7,3.3,5.7,2.5
145,3,virginica,146,6.7,3.0,5.2,2.3
146,3,virginica,147,6.3,2.5,5.0,1.9
147,3,virginica,148,6.5,3.0,5.2,2.0
148,3,virginica,149,6.2,3.4,5.4,2.3
149,3,virginica,150,5.9,3.0,5.1,1.8

In [23]:
acquire.get_titanic_data(env.sql_connexion)

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [24]:
acquire.get_telco_data(env.sql_connexion)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,1,2,9987-LUTYD,Female,0,No,No,13,Yes,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,Yes,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,Yes,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,No,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check