In [84]:
import pandas as pd
import numpy as np

from env import host, username, password, sql_connexion

import seaborn as sns
import scipy

import sklearn

import warnings
warnings.filterwarnings("ignore")



    Accuracy = (TP + TN) / (TP + FP + TN + FN)
    Precision / PPV = TP / (TP + FP)
    NVP / negative predicted value = TN / (TN + FN)
    Specificity = TN / (FP + TN)
    Recall / Sensitivity : TP / (TP + FN)

### 2 / Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
    | actual dog    |      TP 46 |     FN    7  |
| actual cat    |        FP 13 |        TN 34 |

    Dog = yes. 
    In the context of this problem, what is a false positive ? : predicted dog, actual cat.
    In the context of this problem, what is a false negative ? : predicted cat, actual dog 
    How would you describe this model ? Bivariate
    
    If cat = yes, FP = predicted cat, actual dog , FN = predicted dog, actual cat

In [2]:
# Accuracy 

# (TP + TN) / (TP + FP + TN + FN)
(46 + 34) / (46 + 13 + 34 + 7)

0.8

In [3]:
# Precision -- predict the positive

# TP / (TP + FP)
46 / (46 + 13)

0.7796610169491526

In [4]:
# NVP

# TN / (TN + FN)

34 / (34 + 7)

0.8292682926829268

In [5]:
# Specificity 

# TN / (FP + TN)

34 / (13 + 34)

0.723404255319149

In [6]:
# Recall / Sensitivity  -- find the real positives

# TP / (TP + FN)

46 / (46 + 7)

0.8679245283018868

### 3 / You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

**3 / a / An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible.** 

Which evaluation metric would be appropriate here ?  Defect = yes. Use 'Recall'.  


Which model would be the best fit for this use case ? Recall.

In [7]:
 def get_c3(df):
    
    if os.path.isfile('c3.csv'):
        
        return pd.read_csv('c3.csv')

In [8]:
c3 = pd.read_csv('c3.csv')
c3.value_counts()

actual     model1     model2     model3
No Defect  No Defect  No Defect  Defect       52
                                 No Defect    50
                      Defect     No Defect    47
                                 Defect       33
Defect     No Defect  Defect     Defect        5
           Defect     No Defect  Defect        4
                      Defect     Defect        3
                      No Defect  No Defect     1
           No Defect  Defect     No Defect     1
                      No Defect  Defect        1
                                 No Defect     1
No Defect  Defect     Defect     Defect        1
                      No Defect  No Defect     1
dtype: int64

In [9]:
c3.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [10]:
c3.value_counts()

actual     model1     model2     model3
No Defect  No Defect  No Defect  Defect       52
                                 No Defect    50
                      Defect     No Defect    47
                                 Defect       33
Defect     No Defect  Defect     Defect        5
           Defect     No Defect  Defect        4
                      Defect     Defect        3
                      No Defect  No Defect     1
           No Defect  Defect     No Defect     1
                      No Defect  Defect        1
                                 No Defect     1
No Defect  Defect     Defect     Defect        1
                      No Defect  No Defect     1
dtype: int64

In [11]:
#1 
c3.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [12]:
#2 
subset = c3[c3.actual == 'Defect']
subset.head()

    actual     model1     model2  model3
13  Defect  No Defect     Defect  Defect
30  Defect     Defect  No Defect  Defect
65  Defect     Defect     Defect  Defect
70  Defect     Defect     Defect  Defect
74  Defect  No Defect  No Defect  Defect

In [13]:
#3 
model_recall1 = (subset.actual == subset.model1).mean()
model_recall1

0.5

In [14]:
#4
model_recall2 = (subset.actual == subset.model2).mean()
model_recall2

0.5625

In [15]:
#5 
model_recall3 = (subset.actual == subset.model3).mean()
model_recall3

0.8125

In [16]:
## meanwhile... clearly, as seen from the below, it was not clear to me how to do the question.

In [17]:
melt_c3 = pd.melt(c3, 'actual', value_vars = ['model1', 'model2', 'model3'])
melt_c3

# melting the df to combine all models into defect / no defect value-column.

        actual variable      value
0    No Defect   model1  No Defect
1    No Defect   model1  No Defect
2    No Defect   model1  No Defect
3    No Defect   model1     Defect
4    No Defect   model1  No Defect
..         ...      ...        ...
595  No Defect   model3     Defect
596     Defect   model3  No Defect
597  No Defect   model3  No Defect
598  No Defect   model3     Defect
599  No Defect   model3     Defect

[600 rows x 3 columns]

In [18]:
melt_c3.describe()

           actual variable      value
count         600      600        600
unique          2        3          2
top     No Defect   model1  No Defect
freq          552      200        401

In [19]:
recall_subset = melt_c3['value'] == 'Defect'
recall_subset

0      False
1      False
2      False
3       True
4      False
       ...
595     True
596    False
597    False
598     True
599     True
Name: value, Length: 600, dtype: bool

In [20]:
melt_subset = melt_c3[recall_subset]
melt_subset

# creating a subset from the data that have defects

        actual variable   value
3    No Defect   model1  Defect
30      Defect   model1  Defect
62   No Defect   model1  Defect
65      Defect   model1  Defect
70      Defect   model1  Defect
..         ...      ...     ...
593  No Defect   model3  Defect
594     Defect   model3  Defect
595  No Defect   model3  Defect
598  No Defect   model3  Defect
599  No Defect   model3  Defect

[199 rows x 3 columns]

In [21]:
melt_subset.describe()

           actual variable   value
count         199      199     199
unique          2        3       1
top     No Defect   model3  Defect
freq          169       99     199

In [22]:
melt_subset['actual'] == melt_subset['value']

3      False
30      True
62     False
65      True
70      True
       ...
593    False
594     True
595    False
598    False
599    False
Length: 199, dtype: bool

In [23]:
(melt_subset['actual'] == melt_subset['value']).mean()

# this indicates that there is a 15.1pc defect rate.

0.1507537688442211

**3 / b /  Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light.**  

The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect.  
Which evaluation metric would be appropriate here?   Precision.  
Which model would be the best fit for this use case?  Model 1 (80pc precision).  

Positive case = Defect.

Find the FPs : use Precision.

In [24]:
# make a subset : all the element where we predicted CORRECTLY


duck_defect_sub = melt_c3['value'] == 'Defect'
duck_defect_sub

0      False
1      False
2      False
3       True
4      False
       ...
595     True
596    False
597    False
598     True
599     True
Name: value, Length: 600, dtype: bool

In [25]:
precision_duck = melt_c3[duck_defect_sub]
precision_duck

        actual variable   value
3    No Defect   model1  Defect
30      Defect   model1  Defect
62   No Defect   model1  Defect
65      Defect   model1  Defect
70      Defect   model1  Defect
..         ...      ...     ...
593  No Defect   model3  Defect
594     Defect   model3  Defect
595  No Defect   model3  Defect
598  No Defect   model3  Defect
599  No Defect   model3  Defect

[199 rows x 3 columns]

In [26]:


(precision_duck['actual'] == precision_duck['value']).mean()

## this means that we predicted correctly 78pc of the times.

0.1507537688442211

In [27]:
## RECALL without melting

actual_positives = c3[c3.actual == 'Defect']
actual_positives.head()

    actual     model1     model2  model3
13  Defect  No Defect     Defect  Defect
30  Defect     Defect  No Defect  Defect
65  Defect     Defect     Defect  Defect
70  Defect     Defect     Defect  Defect
74  Defect  No Defect  No Defect  Defect

In [28]:
## RECALL 

actual_negatives = c3[c3.actual == 'No Defect']
actual_negatives.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [29]:
## RECALL MODEL 1

model1_recall = (actual_positives.actual == actual_positives.model1).mean()
model1_recall

0.5

In [30]:
## RECALL MODEL 2

model2_recall = (actual_positives.actual == actual_positives.model2).mean()
model2_recall

0.5625

In [31]:
## RECALL MODEL 3

model3_recall = (actual_positives.actual == actual_positives.model3).mean()
model3_recall

0.8125

**3 / b**  
USE PRECISION MODEL.

In [32]:
# PRECISION MODEL 1 

precision_subset_m1 = c3[c3.model1 == 'Defect']
precision_subset_m1 

# restricting to where model1 is defective

        actual  model1     model2     model3
3    No Defect  Defect     Defect     Defect
30      Defect  Defect  No Defect     Defect
62   No Defect  Defect  No Defect  No Defect
65      Defect  Defect     Defect     Defect
70      Defect  Defect     Defect     Defect
135     Defect  Defect  No Defect     Defect
147     Defect  Defect  No Defect     Defect
163     Defect  Defect     Defect     Defect
194     Defect  Defect  No Defect     Defect
196     Defect  Defect  No Defect  No Defect

In [33]:
# PRECISION MODEL 1 

model1_defect_precision = (precision_subset_m1.actual == precision_subset_m1.model1).mean()
print('Model 1 Precision')
print(f'Model precision {model1_defect_precision: .2%}')

Model 1 Precision
Model precision  80.00%

In [34]:
# PRECISION MODEL 2


precision_subset_m2 = c3[c3.model2 == 'Defect']
precision_subset_m2.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [35]:
# PRECISION MODEL 2

model2_defect_precision = (precision_subset_m2.actual == precision_subset_m2.model2).mean()
print('Model 2 Precision')
print(f'Model precision {model2_defect_precision: .2%}')

# model 2 defect precision of 10pc

Model 2 Precision
Model precision  10.00%

In [36]:
# PRECISION MODEL 3

precision_subset_m3 = c3[c3.model3 == 'Defect']
precision_subset_m3.head()

       actual     model1     model2  model3
1   No Defect  No Defect     Defect  Defect
3   No Defect     Defect     Defect  Defect
5   No Defect  No Defect  No Defect  Defect
9   No Defect  No Defect  No Defect  Defect
13     Defect  No Defect     Defect  Defect

In [37]:
# PRECISION MODEL 3

model3_defect_precision = (precision_subset_m3.actual == precision_subset_m3.model3).mean()
print('Model 3 Precision')
print(f'Model precision {model3_defect_precision: .2%}')

# model 3 13pc defective rate

Model 3 Precision
Model precision  13.13%

### 4 / You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both, for an additional fee).  

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two-step process. First, an automated algorithm tags the pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).  

Several models have already been developed with the data.  

Given this dataset, use pandas to create a baseline model (i.e., a model that just predicts the most common class) and answer the following questions:  

    - In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?  
      In general, the Precision model is more accurate overall than the baseline model, though Recal Model 1 (80pc accuracy) and Recall Model 4 (95pc accuracy) are higher than the baseline.  
            
    - Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?  
      Working solely with 'dog' photos, I'd recommend Recall Model 4.  
            
    - Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?  
      For cats, I'd recommend Recall Model 3, at 89.1pc accuracy.
      
      See TAKEAWAYS at the end of these question cells.

In [38]:
# DOGS

paws = pd.read_csv('gives_you_paws.csv')
paws.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [39]:
# CATS

chaton = pd.read_csv('gives_you_paws.csv')
chaton.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [40]:

paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [41]:
# ## baseline : LE CHIEN EST MAITRE

# paws[paws.actual == 'dog']
# paws.head()

In [42]:
chaton[chaton.actual == 'cat']
chaton.head()

## BASELINE LE FELIN

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [43]:
## baseline : LE CHIEN EST MAITRE

paws['baseline'] = 'dog'
paws.head()

# stating the baseline

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [80]:
# alternate : 

paws['baseline'] = paws.actual.value_counts().idxmax()

In [45]:
chaton['baseline'] = 'cat'
chaton.head()
# stating the baseline

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      cat
1    dog    dog    cat    cat    dog      cat
2    dog    cat    cat    cat    dog      cat
3    dog    dog    dog    cat    dog      cat
4    cat    cat    cat    dog    dog      cat

In [46]:
paws['baseline'] == paws['actual']

# Boolean baseline (T = 1, F = 0)

0       False
1        True
2        True
3        True
4       False
        ...
4995     True
4996     True
4997     True
4998    False
4999     True
Length: 5000, dtype: bool

In [47]:
(chaton['baseline'] == chaton['actual']).mean()

# low baseline of 35pc for les chats

0.3492

In [48]:
paw_accuracy = (paws['baseline'] == paws['actual']).mean()
paw_accuracy

## baseline accuracy 65.1pc.

0.6508

In [49]:
# PRECISION MODEL 1 - chien

precision_subset_paw1 = paws[paws.model1 == 'dog']
precision_subset_paw1.head()

  actual model1 model2 model3 model4 baseline
1    dog    dog    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
5    dog    dog    dog    dog    dog      dog
7    cat    dog    cat    cat    dog      dog
8    dog    dog    cat    dog    dog      dog

In [50]:
# PRECISION MODEL 1 - chien

paw1_dog_precision = (precision_subset_paw1.actual == precision_subset_paw1.model1).mean()
paw1_dog_precision

# model 1 89pc precision

0.8900238338440586

In [51]:
# PRECISION MODEL 1 - chat

precision_subset_chaton1 = chaton[chaton.model1 == 'cat']
precision_subset_chaton1.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      cat
2    dog    cat    cat    cat    dog      cat
4    cat    cat    cat    dog    dog      cat
6    cat    cat    cat    cat    dog      cat
9    dog    cat    dog    cat    dog      cat

In [52]:
# PRECISION MODEL 1 - chat

chaton1_cat_precision = (precision_subset_chaton1.actual == precision_subset_chaton1.model1).mean()
chaton1_cat_precision

# model 1 69pc precision

0.6897721764420747

In [53]:
# PRECISION MODEL 2 - chien

precision_subset_paw2 = paws[paws.model2 == 'dog']
precision_subset_paw2.head()

   actual model1 model2 model3 model4 baseline
0     cat    cat    dog    cat    dog      dog
3     dog    dog    dog    cat    dog      dog
5     dog    dog    dog    dog    dog      dog
9     dog    cat    dog    cat    dog      dog
10    dog    dog    dog    dog    dog      dog

In [54]:
# PRECISION MODEL 2 - chien

paw1_dog_precision = (precision_subset_paw2.actual == precision_subset_paw2.model2).mean()
paw1_dog_precision

# model 1 89pc precision

0.8931767337807607

In [55]:
# PRECISION MODEL 2 - chaton

precision_subset_chaton2 = chaton[chaton.model2 == 'cat']
precision_subset_chaton2.head()

  actual model1 model2 model3 model4 baseline
1    dog    dog    cat    cat    dog      cat
2    dog    cat    cat    cat    dog      cat
4    cat    cat    cat    dog    dog      cat
6    cat    cat    cat    cat    dog      cat
7    cat    dog    cat    cat    dog      cat

In [56]:
# PRECISION MODEL 2 - chaton

chaton2_cat_precision = (precision_subset_chaton2.actual == precision_subset_chaton2.model2).mean()
chaton2_cat_precision

# model 1 48pc precision

0.4841220423412204

In [57]:
# PRECISION MODEL 3 - chien

precision_subset_paw3 = paws[paws.model3 == 'dog']
precision_subset_paw3.head()

   actual model1 model2 model3 model4 baseline
4     cat    cat    cat    dog    dog      dog
5     dog    dog    dog    dog    dog      dog
8     dog    dog    cat    dog    dog      dog
10    dog    dog    dog    dog    dog      dog
13    dog    cat    dog    dog    dog      dog

In [58]:
# PRECISION MODEL 3 - chien

paw3_dog_precision = (precision_subset_paw3.actual == precision_subset_paw3.model3).mean()
paw3_dog_precision

0.6598883572567783

In [59]:
# PRECISION MODEL 3 - chaton

precision_subset_chaton3 = chaton[chaton.model3 == 'cat']
precision_subset_chaton3.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      cat
1    dog    dog    cat    cat    dog      cat
2    dog    cat    cat    cat    dog      cat
3    dog    dog    dog    cat    dog      cat
6    cat    cat    cat    cat    dog      cat

In [60]:
# PRECISION MODEL 3 - chaton

chaton3_cat_precision = (precision_subset_chaton3.actual == precision_subset_chaton3.model3).mean()
chaton3_cat_precision

# model 1 35.8pc precision

0.358346709470305

**TAKEAWAY :**
    
    - PRECISION MODEL 2 IS THE MOST PRECISE FOR 'DOG', AT 89pc, MORE PRECISE THAN THE BASELINE.
    - PRECISION MODEL 1 IS THE MOST PRECISE FOR 'CAT', AT 69pc, WHICH IS MORE THAN THE BASELINE BUT STILL QUITE LOW.

In [61]:
## RECALL MODEL 1 - CHIEN

paw_positive = paws[paws.actual == 'dog']
paw_positive.head()

  actual model1 model2 model3 model4 baseline
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
5    dog    dog    dog    dog    dog      dog
8    dog    dog    cat    dog    dog      dog

In [62]:
## RECALL MODEL 1 - CHIEN

paw_negative = paws[paws.actual == 'cat']
paw_negative.head()

   actual model1 model2 model3 model4 baseline
0     cat    cat    dog    cat    dog      dog
4     cat    cat    cat    dog    dog      dog
6     cat    cat    cat    cat    dog      dog
7     cat    dog    cat    cat    dog      dog
11    cat    cat    dog    cat    cat      dog

In [63]:
## RECALL MODEL 1 - CHATON
chaton_positive = chaton[chaton.actual == 'cat']
chaton_positive.head()

   actual model1 model2 model3 model4 baseline
0     cat    cat    dog    cat    dog      cat
4     cat    cat    cat    dog    dog      cat
6     cat    cat    cat    cat    dog      cat
7     cat    dog    cat    cat    dog      cat
11    cat    cat    dog    cat    cat      cat

In [64]:
## RECALL MODEL 1 - CHIEN

paw1_recall = (paw_positive.actual == paw_positive.model1).mean()
paw1_recall

0.803318992009834

In [65]:
## RECALL MODEL 1 - CHAT

chaton1_recall = (chaton_positive.actual == chaton_positive.model1).mean()
chaton1_recall

# accuracy of 81.5pc

0.8150057273768614

In [66]:
## RECALL MODEL 2 - CHIEN

paw2_recall = (paw_positive.actual == paw_positive.model2).mean()
paw2_recall

0.49078057775046097

In [67]:
## RECALL MODEL 2 - CHAT

chaton2_recall = (chaton_positive.actual == chaton_positive.model2).mean()
chaton2_recall

# accuracy of 89.1pc

0.8906071019473081

In [68]:
## RECALL MODEL 3 - CHIEN

paw3_recall = (paw_positive.actual == paw_positive.model3).mean()
paw3_recall

0.5086047940995697

In [69]:
## RECALL MODEL 3 - CHAT

chaton3_recall = (chaton_positive.actual == chaton_positive.model3).mean()
chaton3_recall

# accuracy of 51.1pc

0.5114547537227949

In [70]:
## RECALL MODEL 4 - CHIEN

paw4_recall = (paw_positive.actual == paw_positive.model4).mean()
paw4_recall

0.9557467732022127

In [71]:
## RECALL MODEL 4 - CHAT

chaton4_recall = (chaton_positive.actual == chaton_positive.model4).mean()
chaton4_recall

# accuracy of 34.5pc

0.34536082474226804

**TAKEAWAY :**
    
        - FOR DOGS : Recall Model 4 is quite accurate (95.6pc), but Recall models 2 & 3 are unreliable due to their low positive rate of identification success (49.1pm and 50.9pc, respectively).  
        
        - FOR CATS : Recall Model 2 is the most accurate (89.1pc), followed by Recall Model 2 (80.5pc), both higher than the baseline, but still relatively low for quality control. Avoid Recall Model 4 (34.5pc accuracy) and Model 3 (51.1pc accuracy) for cats.

In [72]:
## in-class alternate

subset1 = paws[paws.model1 == 'dog']
subset2 = paws[paws.model2 == 'dog']
subset3 = paws[paws.model3 == 'dog']
subset4 = paws[paws.model4 == 'dog']

In [73]:
# precision for model 1 
(subset1.actual == subset1.model1).mean()

0.8900238338440586

In [74]:
# precision for model 2

(subset2.actual == subset2.model1).mean()

0.8003355704697986

In [75]:
## precision loop for cats = positive

model_pred = []
for model in paws.columns[1:]:
    subset = paws[paws[model] == 'cat']
    precision = (subset.actual == subset[model]).mean()
    model_pred.append([model, precision])
    
model_pred

[['model1', 0.6897721764420747],
 ['model2', 0.4841220423412204],
 ['model3', 0.358346709470305],
 ['model4', 0.8072289156626506],
 ['baseline', nan]]

In [76]:
pd.DataFrame(model_pred, columns = ['model', 'precision'])

      model  precision
0    model1   0.689772
1    model2   0.484122
2    model3   0.358347
3    model4   0.807229
4  baseline        NaN

### 5 / Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

    sklearn.metrics.accuracy_score
    sklearn.metrics.precision_score
    sklearn.metrics.recall_score
    sklearn.metrics.classification_report

```sklearn.metrics.accuracy_score```

In [86]:
sklearn.metrics.accuracy_score(paws.actual, paws.model1)

AttributeError: module 'sklearn' has no attribute 'metrics'

In [ ]:
sklearn.metrics.accuracy_score(paws.actual, paws.model2)

In [ ]:
sklearn.metrics.accuracy_score(paws.actual, paws.model3)

In [ ]:
sklearn.metrics.accuracy_score(paws.actual, paws.model4)

In [ ]:
sklearn.metrics.accuracy_score(chaton.actual, chaton.model1)

In [ ]:
sklearn.metrics.accuracy_score(chaton.actual, chaton.model2)

```sklearn.metrics.precision_score```

In [ ]:
sklearn.metrics.precision_score(paws.actual, paws.model1, average = None)

In [ ]:
sklearn.metrics.precision_score(paws.actual, paws.model2, average = None)

In [ ]:
sklearn.metrics.precision_score(paws.actual, paws.model3, average = None)

In [ ]:
sklearn.metrics.precision_score(paws.actual, paws.model4, average = None)

In [ ]:
sklearn.metrics.precision_score(chaton.actual, chaton.model1, average = None)

In [ ]:
sklearn.metrics.precision_score(chaton.actual, chaton.model2, average = None)

```sklearn.metrics.recall_score```

In [ ]:
sklearn.metrics.recall_score(paws.actual, paws.model1, average = None)

In [ ]:
sklearn.metrics.recall_score(paws.actual, paws.model2, average = None)

In [ ]:
sklearn.metrics.recall_score(paws.actual, paws.model3, average = None)

In [ ]:
sklearn.metrics.recall_score(paws.actual, paws.model4, average = None)

```sklearn.metrics.classification_report```

In [ ]:
print(sklearn.metrics.classification_report(paws.actual, paws.model1))

In [ ]:
print(sklearn.metrics.classification_report(paws.actual, paws.model2))

In [ ]:
print(sklearn.metrics.classification_report(paws.actual, paws.model3))

In [ ]:
print(sklearn.metrics.classification_report(paws.actual, paws.model4))